// Bootstrap
@import "bootstrap/less/bootstrap.less";

// Variables
@import "variables.less";

// Mixins
@import "mixins.less";

// Components
@import "components/widget.less";
@import "components/fontawesome/font-awesome.less";

// Main styles
body {
    font-family: 'Myriad Pro', Helvetica, Arial, sans-serif;
    font-size: 18px;
    background: #eaedf1;
}

.banner {
    padding: 20px;
    background: rgba(255,255,255,.5);
    color: #333;
    font-size: 12px;
    text-align: center;

    a {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}