// Main variables
@border-radius:             4px;

// Colors
@blue:                      #00afd1;
@white:                     #ffffff;
@dark-blue:                 #1d3037;
@green:                     #1fbba6;
@gray-light:                #eaedf1;
@gray:                      #9ea7b3;
@title-gray:                #323a45;
@orange:                    #f27935;