.widget {
    background: #fff;
    border-radius: @border-radius;
    min-height: 100px;
    margin-top: 10px;
    margin-bottom: 30px;
    position: relative;

    &.transparent {
        background: transparent;
    }

    > .title {
        height: 50px;
        background: @title-gray;
        color: @white;
        text-align: center;
        line-height: 50px;
        border-radius: @border-radius @border-radius 0 0;
    }

    // Widget Video
    &.widget-video {
        background: @blue;

        &:hover {
            .controls {
                height: 50px;
            }
        }

        &.playing {
            &:hover {
                > .toggle {
                    .opacity(1);
                }
            }

            > .toggle {
                .opacity(0);
            }
        }

        video {
            display: block;
            border-radius: @border-radius;
        }

        .toggle {
            &::before {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                color: @white;
                font-size: 20px;
                margin: -9px 0 0 -7px;
            }

            &.play {
                &::before {
                    content: "\25b6";
                }
            }

            &.pause {
                &::before {
                    content: "\2590\A0\258C";
                    margin-left: -16px;
                    margin-top: -11px;
                }
            }
        }

        > .toggle {
            position: absolute;
            top: 45%;
            left: 50%;
            width: 70px;
            height: 70px;
            margin: -27px 0 0 -35px;
            border-radius: 100%;
            border: 3px solid rgba(255,255,255,.5);
            background: rgba(255,255,255,.2);
            z-index: 1;
            cursor: pointer;
            .transition(opacity .2s);
            .transition(background .2s);

            &:hover {
                background: rgba(255,255,255,.5);
            }
        }

        .controls {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 0;
            background: @dark-blue;
            opacity: .7;
            border-radius: 0 0 @border-radius @border-radius;
            .transition(height .2s);
            overflow: hidden;

            .toggle {
                position: absolute;
                width: 50px;
                height: 50px;
                left: 0;
                top: 0;
                background: darken(@dark-blue, 20%);
                content: @white;
                cursor: pointer;

                &::before {
                    font-size: 14px;
                    margin: -7px 0 0 -5px;
                }

                &.pause {
                    &::before {
                        margin-left: -12px;
                        margin-top: -9px;
                    }
                }
            }

            .progress-bar {
                height: 6px;
                position: absolute;
                top: 50%;
                left: 60px;
                right: 60px;
                background: darken(@dark-blue, 20%);
                border-radius: 2px;

                i {
                    width: 50%;
                    background: rgba(255,255,255,.3);
                    position: absolute;
                    height: 100%;
                    display: block;
                    border-radius: 2px 0 0 2px;
                }

                b {
                    position: absolute;
                    display: block;
                    height: 8px;
                    width: 8px;
                    top: -1px;
                    background: @white;
                    left: 25%;
                    border-radius: 100%;
                    cursor: pointer;

                    &:hover {
                        box-shadow: 0 0 1px 1px @white;
                    }
                }
            }

            .sound {
                color: @white;
                position: absolute;
                top: 16px;
                right: 14px;
                font-size: 20px;
            }
        }
    }

    // Widget revenue
    &.widget-revenue {
        .chart {
            background: @green;
            border-radius: @border-radius @border-radius 0 0;
            color: @white;
            height: 280px;
            padding: 20px;

            .title {
                text-align: center;
                padding-bottom: 10px;
            }
        }

        .inquiries {
            padding: 20px;
            border-bottom: 1px solid @gray-light;
            .clearfix;
            color: @gray;

            .left {
                float: left;
                width: 70%;

                span {
                    font-size: 14px;
                }

                ul {
                    .list-unstyled;

                    li {
                        display: inline-block;
                        vertical-align: top;
                        margin: 0 1.3%;

                        span {
                            display: block;
                            height: 50px;
                            background: @gray-light;
                            width: 10px;
                            border-radius: @border-radius / 2;
                            position: relative;

                            i {
                                display: block;
                                position: absolute;
                                bottom: 0;
                                width: 100%;
                                background: @green;
                                border-radius: @border-radius / 2;
                            }
                        }

                        b {
                            font-size: 10px;
                            display: block;
                            font-weight: normal;
                            margin: 3px 0 0;
                        }
                    }
                }
            }

            .right {
                float: right;
                width: 25%;
                text-align: center;

                strong {
                    display: block;
                    font-size: 34px;
                    color: @green;
                    padding: 28px 0 0;
                }

                small {
                    display: block;
                    color: @gray;
                    text-transform: uppercase;
                    font-size: 10px;
                }
            }
        }

        .gross-net {
            .list-unstyled;
            padding: 20px;

            li {
                display: inline-block;
                vertical-align: top;
                width: 49%;

                span {
                    font-size: 14px;
                    color: @gray;
                    display: block;
                }

                b {
                    font-size: 30px;
                    color: @green;
                }
            }
        }
    }

    // Widget tasks
    &.widget-tasks {
        .tabs-content {
            .list-unstyled;
            margin: 0;

            > li {
                height: 270px;
                padding: 5px;
                background: @white;
                display: none;

                &.active {
                    display: block;
                }

                &.list {
                    overflow-y: scroll;

                    ul {
                        .list-unstyled;

                        li {
                            padding: 3px 10px;
                            border-top: 1px dotted @gray-light;

                            &:first-child {
                                border-color: transparent;
                            }

                            &.done {
                                b {
                                    color: @blue;
                                }
                            }

                            &.in-progress {
                                b {
                                    color: @gray-light;
                                }
                            }

                            b {
                                margin-right: 10px;
                                font-size: 30px;
                                line-height: inherit;
                            }
                        }
                    }
                }

                &.map {
                    background-size: cover;
                    background-position: 50% 50%;
                }
            }
        }

        .tabs-nav {
            .list-unstyled;
            .clearfix;
            border-radius: 0 0 @border-radius @border-radius;
            overflow: hidden;

            > li {
                width: 33.3%;
                display: block;
                float: left;

                &:first-child {
                    a {
                        border-left-color: transparent;
                    }
                }

                &.active {
                    a {
                        background: @white;
                        border-top-color: transparent;
                        color: @blue;
                        cursor: default;
                    }
                }

                a {
                    display: block;
                    height: 75px;
                    border-left: 1px solid @gray;
                    border-top: 1px solid @gray;
                    background: lighten(@gray-light, 5%);
                    .transition(background .2s);
                    .transition(color .2s);
                    text-align: center;
                    color: darken(@gray, 20%);
                    text-decoration: none;

                    &:hover {
                        color: @blue;
                    }

                    i {
                        display: block;
                        margin-top: 20px;
                    }

                    span {
                        font-size: 11px;
                        display: block;
                        text-transform: uppercase;
                        margin: 4px 0 0;
                    }
                }
            }
        }
    }

    // Widget Mail
    &.widget-mail {
        &.tiny-view {
            //display: inline-block;
            width: 150px;

            ul {
                li {
                    .folder-name {
                        span {
                            display: none;
                        }
                    }
                }
            }
        }

        > .title {
            cursor: pointer;
        }

        ul {
            .list-unstyled;
            margin: 0;

            li {
                padding: 10px 30px;
                border-top: 1px solid @gray;
                .clearfix;
                cursor: pointer;

                &:first-child {
                    border-top: 0;
                }

                &:last-child {
                    a {
                        font-size: 12px;
                        color: @gray;

                        i {
                            position: relative;
                            top: 2px;
                            margin-left: 3px;
                        }
                    }

                    &:hover {
                        a {
                            color: darken(@gray, 50%);
                            text-decoration: none;
                        }
                    }
                }

                &:hover {
                    .folder-name {
                        color: darken(@gray, 50%);
                    }
                }

                &.active {
                    background: @gray;
                    cursor: default;

                    .folder-name {
                        color: @white;

                        i {
                            color: @white;
                        }
                    }

                    .badge {
                        background: @orange;
                        color: @white;
                    }
                }

                .folder-name {
                    float: left;
                    color: lighten(@gray, 10%);

                    i {
                        color: darken(@gray, 10%);
                        margin-right: 7px;
                    }
                }

                .badge {
                    float: right;
                    background: lighten(@gray, 10%);
                    color: darken(@gray, 20%);
                }
            }
        }
    }

    // Widget Login
    &.widget-login {
        form {
            .form-group {
                .input-group {
                    &:first-child {
                        .input-group-addon {
                            border-radius: @border-radius 0 0 0;
                        }

                        input {
                            border-radius: 0 @border-radius 0 0;   
                        }
                    }

                    &:last-child {
                        margin-top: -1px;

                        .input-group-addon {
                            border-radius: 0 0 0 @border-radius;
                        }

                        input {
                            border-radius: 0 0 @border-radius 0;   
                        }
                    }

                    &.focused {
                        .input-group-addon {
                            background: lighten(@blue, 55%);
                        }

                        input {
                            background: lighten(@blue, 55%);
                        }
                    }

                    .input-group-addon {
                        background: @white;
                        border-color: @gray;
                    }

                    input {
                        border-left: 0;
                        box-shadow: none;
                        border-color: @gray;

                        &:focus {
                            border-color: @gray;
                        }
                    }

                    button {
                        &:active, &:focus {
                            box-shadow: none;
                            outline: 0 none;
                        }
                    }
                }
            }

            label {
                &.error {
                    display: block;
                    font-weight: normal;
                    color: red;
                    font-size: 14px;
                    margin-top: -7px;
                }
            }
        }
    }

    // Widget Card
    &.widget-card {
        overflow: hidden;

        .card {
            padding: 20px 20px 30px;

            img {
                border-radius: 100%;
                float: left;
            }

            span {
                margin-left: 100px;
                padding-top: 17px;
                font-size: 24px;
                color: darken(@gray, 20%);
                display: block;

                small {
                    font-size: 14px;
                    display: block;
                }
            }
        }

        ul {
            .list-unstyled;
            margin: 0;
            .clearfix;

            li {
                width: 33.3%;
                float: left;
                height: 65px;
                padding: 12px 0 8px;
                text-align: center;
                color: @white;

                i {
                    display: block;
                }

                small {
                    font-size: 11px;
                }

                &.likes {
                    background: @blue;
                }

                &.friends {
                    background: @orange;
                }

                &.visits {
                    background: @green;
                }
            }
        }
    }

    // Widget Events
    &.widget-events {
        > .title {
            text-align: left;

            i {
                color: @gray;
                margin: 0 20px;
            }
        }

        ul {
            .list-unstyled;
            margin-bottom: 15px;
            background: @white;
            border-radius: 0 0 @border-radius @border-radius;
            display: table;
            width: 100%;

            li {
                .clearfix;
                display: table-row;

                a {
                    display: table-cell;
                    padding: 10px;
                    vertical-align: top;
                    color: darken(@gray, 10%);
                    text-transform: uppercase;
                    font-size: 13px;

                    &:hover {
                        color: darken(@gray, 45%)
                    }

                    &:first-child {
                        padding: 10px 20px;
                    }

                    &.place {
                        i {
                            margin-right: 10px;
                        }
                    }

                    &.notes, &.comments {
                        width: 45px;
                        border-left: 1px solid @gray;
                        text-align: center;
                    }
                }
            }
        }
    }

    // Widget Countdown
    &.widget-countdown {
        > .title {
            a {
                display: block;
                height: 50px;
                width: 50px;
                float: right;
                color: @white;
                text-align: center;
                line-height: 53px;
                background: darken(@title-gray, 30%);
                border-radius: 0 @border-radius 0 0;
            }
        }

        .timer {
            background: @green;
            border-radius: 0 0 @border-radius @border-radius;

            ul {
                .list-unstyled;
                margin: 0;
                text-align: center;
                color: @white;
                padding: 30px 0 20px;

                li {
                    display: inline-block;
                    margin: 0 15px;
                    position: relative;

                    &:first-child {
                        &::before {
                            display: none;
                        }
                    }

                    &::before {
                        content: ":";
                        display: block;
                        position: absolute;
                        top: -30px;
                        left: -25px;
                        color: @white;
                        opacity: 0.6;
                        font-size: 50px;
                    }

                    span {
                        font-size: 48px;
                        font-weight: bold;
                        line-height: 20px;
                    }

                    small {
                        display: block;
                        text-transform: uppercase;
                        font-size: 11px;
                    }
                }
            }
        }
    }
}